aside {
  background-color: var(--black-background);
}

aside .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;  
}

aside h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
}

aside .container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  ul {
    padding-bottom: 50px;
    display: flex;
    li {
      padding: 50px;
      text-align: center;
      p {
        width: 100%;
        margin-top: 20px;
        font-size: 0.8rem;
      }
    }
  }
}

// media queries
@media (min-width: 1300px) {
  aside .wrapper {
    max-width: 1600px;
  }
}

@media (max-width: 950px) {
  aside .wrapper {
    max-width: 800px;
  }
}

@media (max-width: 750px) {
  aside .wrapper {
    max-width: 500px;
  } 

  aside .container {
    ul {
      justify-content: space-evenly;
      li { 
        padding: 5px;
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}