footer {
  background-color: var(--red-background);
}

footer .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  p {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// media queries
@media (min-width: 1300px) {
  footer .wrapper {
    max-width: 1600px;
  }
}

@media (max-width: 950px) {
  footer .wrapper {
    max-width: 800px;
  }
}

@media (max-width: 750px) {
  footer .wrapper {
    max-width: 500px;
    p {
      font-size: 0.8rem;
    }
  }


}