nav {
  background-color: var(--black-background);
}

nav .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  li {
    align-self: center;
    padding: 30px;
    a {
      color: var(--text-color);
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
    }
  }
}

nav .logo-container {
  flex-shrink: 0.5;
}

nav .link-container {
  display: flex;
}

nav .link-container li:nth-of-type(5) {
  margin-left: 150px;
  padding: 0;
}

nav button {
  width: 150px;
  text-transform: uppercase;
  padding: 10px;
  border: transparent;
  border-radius: 20px;
  background-color: var(--btn-color);
  color: var(--text-color);
  font-size: 0.75rem;
  text-align: center;
  &:focus, &:hover {
    cursor: pointer;
  }
}


// media queries
@media (min-width: 1300px) {
  nav .wrapper {
    max-width: 1600px;
  }
}

@media (max-width: 950px) {
  nav .wrapper {
    max-width: 800px;
  }

  nav .logo-container {
    display: none;
  }
}

@media (max-width: 750px) {
  nav .wrapper {
    max-width: 500px;
  }

  nav .nav-container {
    padding: 20px;
  }

  nav .link-container {
    width: 100%;
    flex-direction: column;
  }

  nav .link-container li:nth-of-type(5) {
    margin-left: 0;
  }
}
