@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --black-background: #000;
  --red-background: #681a1a; 
  --btn-color: #997954;
  --text-color: #fff;
}

.App {
  font-size: 125%;
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
}